
$navbar-default-bg: #3e3f3a !default
$navbar-margin-bottom: 0
$panel-default-heading-bg: none
$panel-warning-heading-bg: none
$panel-primary-heading-bg: none
$panel-info-heading-bg: none
$web-font-path: "https://fonts.googleapis.com/css?family=Lato:100,200,300,400"
$brand-primary: rgb(89,163,115)
